html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

header {
  height:100px;
  width:100%;
  background-color:black;
  text-align:center;
  font-size:50px;
  font-weight:bold;
  color:white;
}

main {
  height:3600px;
  width:100%;
  background-color:white;
  text-align:center;
}

.index{
  display:inline-block;
  padding:80px 30px 0 0;
  font-size:30px;
}

.index:hover {
  opacity:0.5;
}

.intro-tt {
  padding-top:80px;
  color:black;
}

.subject{
  padding-top:20px;
  padding-bottom:20px;
  font-size:30px;
  color:gray;
}

.content {
  color:black;
  font-size:25px;
}

span {
  color:red;
}

.please {
  padding-top:20px;
}

.my-twitter{
  padding:10px;
  color:white;
  background-color:#13EEFF;
  opacity:1;
  font-size:50px;
  border-radius:4px;
  border-bottom: solid 4px #627295;
}

.my-twitter:hover {
  opacity:0.5;
  position: relative;
  top:4px;
  border-bottom:none;
}

.presen-tt {
  padding-top:200px;
  font-size:80px;
}

.presen-corner {
  display:block;
  padding:200px;
  margin: 0 auto;
  opacity:0.3;
}

.corner-link {
  position:relative;
  bottom:400px;
  background-color:blue;
  color:white;
  font-size:50px;
  font-weight:bold;
  border-radius:4px;
  opacity:0.6;
}

.corner-link:hover {
  opacity:1;
}

footer {
  height:100px;
  width:100%;
  line-height:100px;
  background-color:black;
  color:white;
  font-size:20px;
}
